body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    max-width: 400px;
    margin: 70px 0 0 50px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error-message {
    color: red;
}

.remember-label {
    display: inline-flex;
    align-items: center;
}

.btn-primary {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: darkblue;
}
